<div class="center_z">
    <div class="display_z">
        <div class="custom_wrap_login">
            <div class="panel panel-default">
              <div class="panel-heading"><h2 class="logintitle">Welcome</h2></div>
              <div class="linex"></div>
              <div class="panel-body">Login<br> Swaf My Ride S.A. de C.V.</div>
            </div>
        </div>
        <div class="custom_wrap_login">
            <div class="panel panel-default">
              <div class="panel-heading"><h2 class="logintitle">Login</h2></div>
              <div class="linex"></div>
              <div class="panel-body">
                <input type="text" class="form-control center_forms" ng-model="username" placeholder="Username">
                <input type="password" class="form-control center_forms" ng-model="password" placeholder="Passwsord">
                <button type="button"  ng-click="login()" class="btn btn-success">Login</button></div>
            </div>
        </div>
    </div>
    
    <div class="grc">
        <div class="grd">
            <div growl></div>
        </div>
    </div>

</div>
