<div ng-include="'templates/navbar_pre.html'"></div>

<div class="home_banner">
	<p class="bienvenido_t">Bienvenido a Swag My Ride</p>
</div>

<main role="main">

    <div class="container marketing padcontl">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle circle_bord" src="img/create.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="text_center">Crea tu vehiculo</h2>
                <p class="text_center">Diseña tus vehiculos actuales, para aplicar modificaciones y adaptar nuevos diseños y partes!</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            
            <div class="col-lg-4">
                <img class="rounded-circle circle_bord" src="img/pieces.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="text_center">Editalo</h2>
                <p class="text_center">Modifica tus vehiculos ya creados, puedes seleccionar nuevas piezas para visualizar tu auto y posteriormente comprarlas.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            
            <div class="col-lg-4">
                <img class="rounded-circle circle_bord" src="img/parts.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="text_center">Compra partes</h2>
                <p class="text_center">Compra las partes que desees de distintos proveedores para tu vehiculo, carros, botes o aviones!.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            
        </div>
        
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Crea tu vehiculo existente! <span class="text-muted">Aplicale modificaciones</span></h2>
                <p class="lead">Swag my Ride tiene las herramnientas y tecnologia para que agregues tu carro a la lista, edita, agrea partes y modificalo a tu gusto.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" style="width: 500px; height: 500px;" src="img/lambo.jpg" data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Edita tus botes <span class="text-muted">Colores, motores y mucho mas</span></h2>
                <p class="lead">Conoce las opciones para modificar tu bote, y modificalas en tiempo real. </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="img/boat.jpg" data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Modifica el diseño de tu avion <span class="text-muted">Hazlo tu mismo con esta gran tecnologia</span></h2>
                <p class="lead">Diseños nuevos y modernos de interiores y exteriores para tus aviones, asi como partes y propulsores.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"  alt="500x500" style="width: 500px; height: 500px;" src="img/planes.jpg" data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Ir a inicio</a></p>
        <p>© 2018 Rodo Swag · <a href="">Privacy</a> · <a href="">Terms</a></p>
    </footer>
</main>