<div ng-include="'templates/navbar.html'"></div>
<div ng-controller="WizdardCarController" ng-init="getSubMarca()">
	<div class="center_t mapsw">
		<div class="display_t">
			<div class="memesaurios">  
				<h2 class="text_centerw">Selecciona el Submarca</h2> 
				<div class="center_t">
					<div class="display_t">
						<form name="formita">
							<select  ng-model="car.submarca" ng-options="item.vehicleModelId as item.vehicleYearModel for item in carSubmarca" ng-change="getSubMarcaInfo(car.submarca)" class="form-control cforms" required>
					    	<option value="" disabled selected>Sleccionar Año</option>
						  	</select>
						  	<input type="text" placeholder="Modelo" class="form-control margensillo" ng-model="SubmarcaInfo.vehicleNameModel" disabled>
						</form>

					  	<button class="btn btn-success margensillo" ng-disabled="formita.$invalid" ng-click="saveSubMarca(SubmarcaInfo.vehicleModelId)">Siguiente</button>




					</div>
				</div>     
				
			</div>
		</div>
	</div>
</div>
