
   


<div class="block -green edge--both--reverse">
<p class="tituloser2">Portafolio</p> 
     <div class="center_t">
        <div class="display_to">
            <div class="wrap_full_p_s">
                <div class="projleftflecha">
                    <img class="arprojz" src="img/back.png">
                </div>
                <div class="slider_1 redil" data-link="1">
                    <div class="center_t">
                        <div class="display_t">
                            <div class="project_leftside m_t_rendi">
                                <p class="about_title">Rendichicas  ¡Dura mucho más kilómetros!</p>
                                <p class="text_base22 ">Estas piezas fueron creadas para comunicar la nueva imagen y ubicaciones de Rendichicas (empresa mexicana que apoya el crecimiento y empoderamiento de las mujeres), la calidez en el servicio y la calidad de su gasolina aditivada con tecnología alemana.</p>
                            </div>
                            <div class="project_rightside">
                                <section class="magnific-all">
                                    <a href="https://www.youtube.com/watch?v=1rxTSkvf5Js" class="magnific-youtube item" >
                                      <img class="redichicas_s" src="img/rendi2.png" />
                                    </a>
                                    <a href="img/rendi2.png" class="magnific item" ></a>
                                    <a href="img/rendi1.png" class="magnific item" ></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div> <!-- 1 -->
                <div class="slider_2 redil" data-link="2">
                    <div class="center_t">
                        <div class="display_t">
                            <div class="project_leftside m_t_cali10">
                                <p class="about_title">Calimax 5,10,15,20,15 ¡Llego para quedarse!</p>
                                <p class="text_base22 ">Con esta campaña Calimax comunica que ofrece productos de gran calidad a precios muy accesibles.</p>
                            </div>
                            <div class="project_rightside">
                                <section class="magnific-all">
                                    <a href="https://www.youtube.com/watch?v=uImmjgD0tIQ" class="magnific-youtube item" >
                                      <img class="cali10_s" src="img/cali1.jpg" />
                                    </a>
                                    <a href="img/cali1.jpg" class="magnific item"></a>
                                    <a href="img/cali2.png" class="magnific item"></a>
                                    <a href="img/cali3.png" class="magnific item"></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- 2 -->
                <div class="slider_3 redil" data-link="3">
                   <div class="center_t">
                        <div class="display_t">
                            <div class="project_leftside m_t_carrito">
                                <p class="about_title">Calimax Carrito Loco</p>
                                <p class="text_base22 ">Campaña 2017 de la promoción anual de Calimax para premiar la lealtad de sus clientes.</p>
                            </div>
                            <div class="project_rightside">
                                <section class="magnific-all">
                                    <a href="https://www.youtube.com/watch?v=vuXccq7Pep0" class="magnific-youtube item" >
                                      <img class="carrito_s" src="img/carri2.jpg" />
                                    </a>
                                    <a href="img/carri2.jpg" class="magnific item" ></a>
                                    <a href="img/carri1.jpg" class="magnific item" ></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- 3 -->
                <div class="slider_4 redil" data-link="4">
                    <div class="center_t">
                        <div class="display_t">
                            <div class="project_leftside m_t_uniradio">
                                <p class="about_title">Uniradio - Tus éxitos Pulsar 107.3</p>
                                <p class="text_base22">“Tus éxitos” es lo que guardas en tu cabeza, lo que le gusta, lo que cantas, lo que te acompaña y te recuerda buenos momentos. Con esta campaña Pulsar transmite al radioescucha que la música que le encanta se toca en su estación.</p>
                            </div>
                            <div class="project_rightside">
                                <section class="magnific-all">
                                    <a  href="img/pulsar0.jpg" class="magnific item">
                                      <img class="unir_s" src="img/pulsar0.jpg" />
                                    </a>
                                    <a href="img/pulsar1.jpg" class="magnific item" ></a>
                                    <a href="img/pulsar2.jpg" class="magnific item" ></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- 4 -->

                <div class="slider_5 redil" data-link="5">
                    <div class="center_t">
                        <div class="display_t">
                            <div class="project_leftside m_t_ayun">
                                <p class="about_title">Ayuntamiento de Tijuana - No eres mercancía</p>
                                <p class="text_base22">Con esta campaña, premiada a nivel nacional, mostramos uno de los aspectos más oscuros que atañen a nuestra sociedad, la trata de personas para generar conciencia y cambios en la legislación </p>
                            </div>
                            <div class="project_rightside">
                                <section class="magnific-all">
                                    <a href="https://www.youtube.com/watch?v=JBuo3EvYAAc" class="magnific-youtube item" >
                                      <img class="ayun_s" src="img/ayun1.jpg" />
                                    </a>
                                    <a href="img/ayun1.jpg" class="magnific item" ></a>
                                    <a href="img/ayun2.jpg" class="magnific item" ></a>
                                    <a href="img/ayun3.jpg" class="magnific item" ></a>
                                    <a href="img/ayun4.jpg" class="magnific item" ></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- 5 -->
                
                <div class="projrightflecha">
                    <img class="arprojz" src="img/next.png">
                </div>
            </div>
            <!-- inside -->
        </div>
    </div>
</div>



<script type="text/javascript">
var next = 1;
var prev = 0;
$('.projrightflecha').one().click(function() {
    if (next == 5) {
        next = 0;
        prev = 5;
        var toShowx = $('.slider_' + next + '');
        var toHidex = $('.slider_' + prev + '');
        toHidex.hide();
        toShowx.show();
    } //reset
    next += 1;
    prev = next - 1;
    var toShow = $('.slider_' + next + '');
    var toHide = $('.slider_' + prev + '');
    toHide.hide();
    toShow.show();

});

$('.projleftflecha').click(function() {
    if (next == 1) {
        next = 6;
        prev = -5;
        var toShowx = $('.slider_' + next + '');
        var toHidex = $('.slider_' + 1 + '');
        toHidex.hide();
        toShowx.show();
    }
    prev = next;
    next = next - 1;
    var toShow = $('.slider_' + next + '');
    var toHide = $('.slider_' + prev + '');
    toHide.hide();
    toShow.show();

});
</script>

<script>
jQuery(document).ready(function($) {
  $('.magnific-all').each(function() {
  var $container = $(this);
  var $imageLinks = $container.find('.item');

  var items = [];
  $imageLinks.each(function() {
    var $item = $(this);
    var type = 'image';
    if ($item.hasClass('magnific-youtube')) {
      type = 'iframe';
    }
    var magItem = {
      src: $item.attr('href'),
      type: type
    };
    magItem.title = $item.data('title');    
    items.push(magItem);
    });

  $imageLinks.magnificPopup({
    mainClass: 'mfp-fade',
    items: items,
    gallery:{
        enabled:true,
        tPrev: $(this).data('prev-text'),
        tNext: $(this).data('next-text')
    },
    type: 'image',
    callbacks: {
      beforeOpen: function() {
        var index = $imageLinks.index(this.st.el);
        if (-1 !== index) {
          this.goTo(index);
        }
      }
    }
  });
});
});
</script>